In [47]:

import pandas as pd
df=pd.read_csv("/kaggle/input/diabetes-dataset/diabetes.csv")
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [48]:
df.drop(['SkinThickness','Insulin','BloodPressure'],axis='columns',inplace=True)
df.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age  Outcome
0            6      148  33.6                     0.627   50        1
1            1       85  26.6                     0.351   31        0
2            8      183  23.3                     0.672   32        1
3            1       89  28.1                     0.167   21        0
4            0      137  43.1                     2.288   33        1

In [49]:
inputs = df.drop('Outcome',axis='columns')
target = df.Outcome

In [50]:
inputs.isnull().sum()

Pregnancies                 0
Glucose                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [51]:
inputs.Glucose  = inputs.Glucose.fillna(inputs.Glucose.mean())
inputs.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age
0            6      148  33.6                     0.627   50
1            1       85  26.6                     0.351   31
2            8      183  23.3                     0.672   32
3            1       89  28.1                     0.167   21
4            0      137  43.1                     2.288   33

In [52]:
inputs.BMI = inputs.BMI.fillna(inputs.BMI.mean())
inputs.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age
0            6      148  33.6                     0.627   50
1            1       85  26.6                     0.351   31
2            8      183  23.3                     0.672   32
3            1       89  28.1                     0.167   21
4            0      137  43.1                     2.288   33

In [53]:
inputs.Age = inputs.Age.fillna(inputs.Age.mean())
inputs.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age
0            6      148  33.6                     0.627   50
1            1       85  26.6                     0.351   31
2            8      183  23.3                     0.672   32
3            1       89  28.1                     0.167   21
4            0      137  43.1                     2.288   33

In [54]:
inputs.DiabetesPedigreeFunction = inputs.DiabetesPedigreeFunction.fillna(inputs.DiabetesPedigreeFunction.mean())
inputs.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age
0            6      148  33.6                     0.627   50
1            1       85  26.6                     0.351   31
2            8      183  23.3                     0.672   32
3            1       89  28.1                     0.167   21
4            0      137  43.1                     2.288   33

In [55]:
inputs.Pregnancies = inputs.Pregnancies.fillna(inputs.Pregnancies.mean())
inputs.head()

   Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age
0            6      148  33.6                     0.627   50
1            1       85  26.6                     0.351   31
2            8      183  23.3                     0.672   32
3            1       89  28.1                     0.167   21
4            0      137  43.1                     2.288   33

In [56]:
inputs.isnull().sum()

Pregnancies                 0
Glucose                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
dtype: int64

In [66]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(inputs,target,test_size=0.2)

In [64]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB() ## when data-distribution is Normal

In [69]:
model.fit(X_train,y_train)
model.score(X_test,y_test)

0.7532467532467533

In [70]:
X_test[0:15]

     Pregnancies  Glucose   BMI  DiabetesPedigreeFunction  Age
598            1      173  36.8                     0.088   38
229            0      117  45.2                     0.089   24
216            5      109  35.8                     0.514   25
594            6      123  33.6                     0.733   34
656            2      101  21.8                     0.155   22
681            0      162  49.6                     0.364   26
131            9      122  33.3                     1.114   33
419            3      129  26.4                     0.219   28
549            4      189  28.5                     0.680   37
124            0      113  33.3                     0.278   23
327           10      179  35.1                     0.200   37
177            0      129  67.1                     0.319   26
90             1       80  19.1                     0.258   21
63             2      141  25.4                     0.699   24
298           14      100  36.6                     0.412   46

In [71]:
y_test[0:15]

598    1
229    0
216    1
594    0
656    0
681    1
131    1
419    1
549    0
124    1
327    0
177    1
90     0
63     0
298    1
Name: Outcome, dtype: int64

In [72]:
model.predict(X_test[0:15])

array([1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 0, 1])